@font-face {
  font-family: 'e-Ukraine-Regular';
  src: url("../fonts/e-Ukraine-Regular.woff") format('woff'),
  url("../fonts/e-Ukraine-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'e-Ukraine-Bold';
  src: url("../fonts/e-Ukraine-Bold.woff")format('woff'),
  url("../fonts/e-Ukraine-Bold.woff2") format('woff2')
}
@font-face {
  font-family: 'e-Ukraine-Light';
  src: url("../fonts/e-Ukraine-Light.woff")format('woff');
}
@font-face {
  font-family: 'e-Ukraine-Medium';
  src: url("../fonts/e-Ukraine-Medium.woff")format('woff'),
  url("../fonts/e-Ukraine-Medium.woff2") format('woff2')
}
@font-face {
  font-family: 'Stolzi-Bold';
  src: url("../fonts/Stolzi-Bold.woff")format('woff'),
  url("../fonts/Stolzl-Bold.woff2") format('woff2')
}
@font-face {
  font-family: 'Inter-ExtraBold';
  src: url("../fonts/Inter-ExtraBold.woff")format('woff'),
  url("../fonts/Inter-ExtraBold.woff2") format('woff2')
}

