.goals{
  padding: 100px;
  &__title{
    font-size: 55px;
    line-height: 66px;
  }
  &__description{
    font-size: 27px;
    line-height: 32px;
  }
  &__item-title{
    font-size: 38px;
    line-height: 46px;
  }

}
