.helpus{
  display: flex;
  &__title{
    font-size: 55px;
    line-height: 66px;
  }
  &__describtion{
    font-size: 27px;
    line-height: 32px;
  }
  &__button{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 18px;
  }
  &__image{
  flex: 1 1 40%;
    order: 2;
  }
  &__content{
    flex: 1 1 60%;
    order: 1;
    padding: 100px;
  }

  &__hash{
    position: absolute;
    top: 100%;
    transform: translate(50%,-50%);
    right: 0;
    height: 79px;
    width: 79px;
  }


}
