{% set body_class = "home-page" %}
{% extends "./_layout.html" %}
{% block content %}
<header class="header wrapper">
  <div class="header__logo">
    <img src="../../static/images/header/main_logo.png" alt="">
  </div>
  <div class="header__burger"></div>
  <div class="header__menu">
    <div class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-list-item"><a href="#" class="header__nav-link">хто ми</a></li>
        <li class="header__nav-list-item"><a href="#" class="header__nav-link"></a>що робимо</li>
        <li class="header__nav-list-item"><a href="#" class="header__nav-link"></a>медіа</li>
        <li class="header__nav-list-item"><a href="#" class="header__nav-link"></a>база знань</li>
      </ul>
      <a href="#" class="header__nav-button">допомогти
      </a>
    </div>
    <div class="header__lenguage"></div>
    <div class="header__social"></div>
  </div>
</header>
<main>
<section id="we_are" class="block-title">
  <div class="block-title__description">Національний ЧСЧ-консорціум</div>
  <div class="block-title__name">#msm_pro</div>
  <div class="block-title__emblem">
    <img src="../../static/images/title_section/sharon-mccutcheon-epRlEd6oTmE-unsplash%201.png" alt="">
  </div>
</section>
<section id="mission" class="block-about">
  <div class="block-about__item block-about__item_image"><img src="../../static/images/aboutsection/about.png" alt=""></div>
  <div class="block-about__item block-about__item_content">
      <div class="block-about__item block-about__item_name">про нас</div>
      <div class="block-about__item block-about__item_title">Ініціативне об'єднання чотирьох українських організацій, заснованих на значимій участі ЛГБТІ. </div>
      <div class="block-about__item block-about__item_text">Консорціум працює заради досягнення громадянської рівності, інклюзивного ставлення до ЛГБТІ та забезпечення епідемічного благополуччя в межах ключових груп, насамперед — ЧСЧ (чоловіків, які мають сексуальні стосунки з чоловіками), та трансґендерних людей. Організаціями-учасницями Консорціуму є громадська організація «АЛЬЯНС.ГЛОБАЛ», громадська організація «Асоціація ЛГБТ "ЛІГА"», всеукраїнська громадська організація «Гей-Форум України» та громадська організація "Спектр Харків".</div>
      <div class="block-about__item block-about__item_button">
        <a href="#" class="block-about__button">про нас</a>
      </div>
      <div class="block-about__hash">
        <div class="block-about__hash-bg"><img src="../../static/images/aboutsection/hash_bg.png" alt=""></div>
        <div class="block-about__hash-icon"><img src="../../static/images/aboutsection/hash.png" alt=""></div>
        <div class="block-about__hash-stick">msm_pro</div>
      </div>
  </div>
</section>
<section class="partners">
  <div class="partners__item">
    <div class="partners__logo"><img src="../../static/images/partners/gay-forum.png" alt=""></div>
    <div class="partners__logo"><img src="../../static/images/partners/alliance.png" alt=""></div>
  </div>
  <div class="partners__item">
    <div class="partners__logo"><img src="../../static/images/partners/ligue.png" alt=""></div>
    <div class="partners__logo"><img src="../../static/images/partners/spectre.png" alt=""></div>
  </div>
</section>
<section class="whatwedo">
  <div class="whatwedo__blocktitle">
    <div class="whatwedo__name">про нас</div>
    <div class="whatwedo__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    <div class="whatwedo__description">Ініціативне об'єднання чотирьох українських організацій, заснованих на значимій участі ЛГБТІ. </div>
    <a href="#" class="whatwedo__button">що ми робимо</a>
  </div>
  <div class="whatwedo__item">
    <div class="whatwedo__number">01</div>
    <div class="whatwedo__content">
      <div class="whatwedo__title">
        <div id='eqalrights' class="whatwedo__title-text">Рівні Права та Свободи</div>
        <a href="#" class="whatwedo__title-link"><img src="../../static/images/whatwedo/link-pointer.png" alt=""></a>
      </div>
      <div class="whatwedo__item-description">Впровадження інституту цивільного партнерства #РЦП, врегулювання відповідальності за злочини, мотивовані ненавистю #ЗМН, подолання інших дискримінаційних бар'єрів у національному законодавстві</div>
    </div>
  </div>
  <div class="whatwedo__item">
    <div class="whatwedo__number">02</div>
    <div class="whatwedo__content">
      <div class="whatwedo__title">
        <div id="expert" class="whatwedo__title-text">Експертиза та Лідерство</div>
        <a href="#" class="whatwedo__title-link"><img src="../../static/images/whatwedo/link-pointer.png" alt=""></a>
      </div>
      <div class="whatwedo__item-description">Впровадження інституту цивільного партнерства #РЦП, врегулювання відповідальності за злочини, мотивовані ненавистю #ЗМН, подолання інших дискримінаційних бар'єрів у національному законодавстві</div>
    </div>
  </div>
  <div class="whatwedo__item">
    <div class="whatwedo__number">03</div>
    <div class="whatwedo__content">
      <div class="whatwedo__title">
        <div id="helth" class="whatwedo__title-text">Громадське Здоров’я</div>
        <a href="#" class="whatwedo__title-link"><img src="../../static/images/whatwedo/link-pointer.png" alt=""></a>
      </div>
      <div class="whatwedo__item-description">Бюджетна адвокація і моніторинг законодавства у сфері ВІЛ
          Покращення доступу до медико-соціальних послуг для ЧСЧ та забезпечення їх сталості</div>
    </div>
  </div>
</section>
<section class="projects">
  <div id="knowlages" class="projects__blocktitle">спецпроєкти</div>
  <div class="projects__project projects__project_patriot">
    <a href="#" class="projects__title">Гей може бути патріотом</a>
    <div class="projects__describtion ">відповідь рядового ЗСУ Олександра Горбаченка меру Івано-Франківська Руслану Марцинківу</div>
    <a class="projects__link"><img src="../../static/images/projects/pointer.png" alt=""></a>
  </div>
  <div class="projects__project projects__project_reg">
    <a href="#" class="projects__title">Реєстровані цивільні партнерства</a>
    <div class="projects__describtion">думки пар в Україні</div>
    <a class="projects__link"><img src="../../static/images/projects/pointer.png" alt=""></a>
  </div>
  <a class="projects__button">усі спецпроєкти</a>
</section>
<section class="helpus">
  <div class="helpus__image"><img src="../../static/images/helpus/edorado.png" alt=""></div>
  <div class="helpus__content">
    <div class="helpus__name">donation</div>
    <div class="helpus__title">допомогти нам</div>
    <div class="helpus__describtion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim error expedita maxime nemo numquam placeat, quod recusandae voluptates! </div>
    <a href="#" class="helpus__button">зробити донат</a>
    <div class="helpus__hash">
      <div class="helpus_star"><img src="../../static/images/helpus/star.png" alt=""></div>
      <div class="helpus__hash-icon"><img src="../../static/images/helpus/hash.png" alt=""></div>
      <div class="helpus__stick">msm_pro</div>
    </div>
  </div>
</section>
<section id="media" class="news">
  <div class="news__title">останні новини</div>

  <div class="news__block">
    <div class="news__image"><img src="../../static/images/news/news1.png" alt=""></div>
    <div class="news__content">
      <div class="news__description">Інформаційний апдейт по Київському шелтеру для ЛГБТ+</div>
      <div class="news__footer">
        <div class="news__date">may 24.2022</div>
        <a href="#" class="news__link"><img src="../../static/images/news/link-pointer.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="news__block">
    <div class="news__image"><img src="../../static/images/news/news2.png" alt=""></div>
    <div class="news__content">
      <div class="news__description">Вже більш ніж 40 представників_ць ЛГБТІК+ спільноти та їх рідних скористалися можливістю безкоштовного прихистку у Дніпрі!</div>
      <div class="news__footer">
        <div class="news__date">may 24.2022</div>
        <a href="#" class="news__link"><img src="../../static/images/news/link-pointer.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="news__block">
    <div class="news__image"><img src="../../static/images/news/news3.png" alt=""></div>
    <div class="news__content">
      <div class="news__description">Команда Національного ЧСЧ-консорціуму вітає українців з Днем Єднання!</div>
      <div class="news__footer">
        <div class="news__date">may 24.2022</div>
        <a href="#" class="news__link"><img src="../../static/images/news/link-pointer.png" alt=""></a>
      </div>
    </div>
  </div>
  <a href="#" class="news__button">усі новини</a>
</section>
</main>
<footer class="footer">
  <div class="footer__mailing">
    <div class="footer__title">напиши <span><img src="../../static/images/footer/call%20us.png" alt=""></span> нам</div>
    <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae ipsum odio officia quod soluta tempore voluptatum!</div>
    <form class="footer__form"  name="mailing" action="">
      <input class="footer__input" placeholder="Імʼя та Фамілія" type="text">
      <input class="footer__input" placeholder="Телефон" type="text">
      <input class="footer__input" placeholder="Email" type="email">
      <input class="footer__input" placeholder="Повідомлення" type="text">
      <button class="footer__button" type="submit">надіслати</button>
    </form>
  </div>
  <div class="footer__info">
    <div class="footer__logo-container">
      <div class="footer__logo"><img src="../../static/images/footer/footer_logo.png" alt=""></div>
    </div>
    <nav class="footer__nav">
      <a href="#we_are" class="footer__link footer__link_block">хто ми</a>
      <a href="#mission" class="footer__link footer__link_block">що робимо</a>
      <a href="#eqalrights" class="footer__link footer__link_article">рівні права та свободи</a>
      <a href="#expert" class="footer__link footer__link_article">експертиза та лідерство</a>
      <a href="#helth" class="footer__link footer__link_article">громадське здоровʼя</a>
      <a href="#knowlages" class="footer__link footer__link_block">база знань</a>
      <a href="#media" class="footer__link footer__link_block">медіа</a>
      <a href="#media" class="footer__link footer__link_article">новини змі про нас</a>
      <div class="footer__media-links">
        <a href="" class="footer__media-link"><img src="../../static/images/footer/fb.png" alt=""></a>
        <a href="" class="footer__media-link"><img src="../../static/images/footer/inst.png" alt=""></a>
        <a href="" class="footer__media-link"><img src="../../static/images/footer/ytb.png" alt=""></a>
      </div>
    </nav>

  </div>
</footer>
<div class="copywrite">
  <div>© 2022 msm_Pro</div>
  <div>политика конфіденційності</div>
</div>
{% endblock %}
