{% set body_class = "one-news-page" %} {% extends "./_layout2.html" %} {% block
content %}
<main>
  <section class="one-news">
    <div class="fluid-wrapper">
      <h2 class="title-l">
        Інформаційний апдейт по Київському шелтеру для ЛГБТ+
      </h2>
      <p class="subtitle-s">mar 24,2022</p>
      <div class="one-news__image-wrapper">
        <img
          src="./images/one-news/one-news__image.jpg"
          alt="the one news image"
          class="one-news__image"
        />
      </div>
      <div class="one-news__wrapper">
        <div class="one-news__content">
          <p class="description-l">
            Ми вже писали, що Alliance.Global значною мірою переформатувала свою
            діяльність внаслідок повномасштабного вторгнення росії на територію
            України. І хоча до цього ми вже мали функціонуючий шелтер для ЧСЧ та
            трансгендерних персон у Києві, з початком повномасштабних воєнних
            дій в Україні ми відкрили два нових шелтера у місті Дніпро, та
            готуємо до відкриття новий шелтер у місті Чернівці.
          </p>
          <p class="description">
            У минулій публікації ми розповідали про стан справ у Дніпровському
            шелтері, а сьогодні розповімо як справи у Київському, який наразі
            приймає всі спільноти ЛГБТІК+ та їхніх рідних.
          </p>
          <p class="description">У числах все виглядає так:</p>
          <ul class="one-news__description-list description__list">
            <li class="description__item">
              <p class="description">
                З початку бойових дій нами було оброблено більш ніж 50 заявок на
                отримання прихистку;
              </p>
            </li>
            <li class="description__item">
              <p class="description">
                Наразі, 16 представни_ць ЛГБТ-спільноти та членів їх сімей
                отримали прихисток у Києві, частину ми перенаправили до Дніпра,
                Чернівців, Львова та інших міст;
              </p>
            </li>
            <li class="description__item">
              <p class="description">
                З 24 лютого соціальним працівником шелтеру було надано приблизно
                100 консультацій представникам_цям ЛГБТІК+ з релокації, питань
                прихистку, юридичних та інших питань;
              </p>
            </li>
            <li class="description__item">
              <p class="description">
                Надано за півтора останні місяці понад 50 психологічних
                консультацій. Найчастіша тема - кризове консультування (загрози,
                насильство, втрата життєвих орієнтирів, відсутність соціальних
                зв'язків, втрата доходу). З приходом війни до цих тем додалися
                безсоння, суїцидальні думки, паніка, цілковита апатія, страх,
                хвороби.
              </p>
            </li>
          </ul>
          <ul class="one-news__question-list question__list">
            <li class="question__item">
              <p class="subtitle-l">
                Звідки прибувають біженці у київський шелтер?
              </p>
              <p class="description">
                Надано за півтора останні місяці понад 50 психологічних
                консультацій. Найчастіша тема - кризове консультування (загрози,
                насильство, втрата життєвих орієнтирів, відсутність соціальних
                зв'язків, втрата доходу). З приходом війни до цих тем додалися
                безсоння, суїцидальні думки, паніка, цілковита апатія, страх,
                хвороби.
              </p>
            </li>
            <li class="question__item">
              <p class="subtitle-l">Хто ще допомагає нашим ЛГБТІК+ біженцям?</p>
              <p class="description">
                Допомагають шукачам притулку наші залучені спеціалісти:
                психіатр, інфекціоніст, дерматовенеролог, стоматологи, терапевт,
                лікар швидкої допомоги, та дружні лікарі на місцях
              </p>
            </li>
            <li class="question__item">
              <p class="subtitle-l">
                Чи є проблеми з релокацією до шелтеру в Києві?
              </p>
              <p class="description">
                Шукачам притулку все ще дуже складно виїжджати до нас із
                тимчасово окупованих територій та зон активних бойових дій. Є
                деякі проблеми навіть з переміщенням по місту Київ, громадський
                транспорт працює нерегулярно, нам доводиться використовувати
                таксі. Також виникають додаткові питання на блокпостах для
                біжен_ок із Донецької та Луганської областей.
              </p>
            </li>
            <li class="question__item">
              <p class="subtitle-l">
                З якими складнощами ми додатково стикаємося?
              </p>
              <p class="description">
                В Києві, як і в більшості регіонів України, спостерігається
                проблема із доступом до базових ліків у аптеках, особливо до
                седативних препаратів, а також відсутні павербанки для зарядки
                мобільних телефонів.
              </p>
              <p class="description">
                Наразі, Київський шелтер продовжує приймати людей, тому якщо ви
                або ваші знайомі маєте потребу у притулку, заповніть анкету за
                <a href="" class="link description">посиланням</a>
              </p>
              <p class="description">
                Діяльність Київського шелтеру є можливою завдяки проєкту
                «Забезпечення діяльності шелтеру для ЧСЧ в місті Київ з наданням
                психологічної допомоги, юридичної допомоги та допомоги в
                ресоціалізації під час пандемії COVID-19» за підтримки
                <a href="" class="link description">«100% життя»</a> - Мережа
                ЛЖВ, інших донорів та приватних пожертв. Робота прихистків у
                Дніпрі та Чернівцях забезпечується Alliance.Global за підтримки
                <a href="" class="link description"
                  >OutRight Action International, Coalition PLUS, Aidsfonds</a
                >
                та за рахунок
              </p>
            </li>
          </ul>
        </div>
        <div class="one-news__authors-card authors-card">
          <div class="authors-card__wrapper">
            <p class="subtitle-s white">Автор:</p>
            <p class="description-m white">Васісуарій Васильченко</p>
          </div>
          <div class="authors-card__wrapper">
            <p class="subtitle-s white">Поділитись:</p>
            <ul class="authors-card__card-social-list card-social__list">
              <li class="card-social__item">
                <a href="" class="card-social__link">
                  <img
                    src="./images/icons/icon__facebook.svg"
                    alt="social icon image"
                    class="card-social__icon"
                  />
                </a>
              </li>
              <li class="card-social__item">
                <a href="" class="card-social__link">
                  <img
                    src="./images/icons/icon__telegram.svg"
                    alt="social icon image"
                    class="card-social__icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="another-news">
    <div class="fluid-wrapper">
      <div class="another-news__wrapper">
        <h2 class="title-l">Інші новини</h2>
        <a href="" class="another-news__button button white">усі новини</a>
      </div>
      <ul class="another-news__news-list news__list">
        <li class="news__item">
          <a href="">
            <img
              src="./images/one-news/another-news__image1.jpg"
              alt="another news image"
              class="news__item-image"
            />
            <div class="news__item-content">
              <p class="description-l">
                «100% життя» - Мережа ЛЖВ надали гуманітарну допомогу Шелтеру
                для ЧСЧ та транс*людей у Києві!
              </p>
              <div class="news__item-wrapper">
                <p class="subtitle-s">mar 24,2022</p>
                <svg
                  class="news__item-icon"
                  viewBox="0 0 50 36"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M36.118 36c.45-9.065 5.849-14.465 13.882-15.172v-5.014C41.967 15.106 36.568 9.77 36.118.706l-5.977 1.286c.322 3.278 1.479 6.171 3.407 8.807 1.992 2.572 4.241 4.243 6.812 5.015H0v5.014h40.36c-2.57.771-4.82 2.443-6.812 5.079-1.929 2.636-3.085 5.529-3.407 8.743L36.118 36Z"
                  />
                </svg>
              </div>
            </div>
          </a>
        </li>
        <li class="news__item">
          <a href="">
            <img
              src="./images/one-news/another-news__image2.jpg"
              alt="another news image"
              class="news__item-image"
            />
            <div class="news__item-content">
              <p class="description-l">
                Вже більш ніж 40 представників_ць ЛГБТІК+ спільноти та їх рідних
                скористалися можливістю безкоштовного прихистку у Дніпрі!
              </p>
              <div class="news__item-wrapper">
                <p class="subtitle-s">mar 24,2022</p>
                <svg
                  class="news__item-icon"
                  viewBox="0 0 50 36"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M36.118 36c.45-9.065 5.849-14.465 13.882-15.172v-5.014C41.967 15.106 36.568 9.77 36.118.706l-5.977 1.286c.322 3.278 1.479 6.171 3.407 8.807 1.992 2.572 4.241 4.243 6.812 5.015H0v5.014h40.36c-2.57.771-4.82 2.443-6.812 5.079-1.929 2.636-3.085 5.529-3.407 8.743L36.118 36Z"
                  />
                </svg>
              </div>
            </div>
          </a>
        </li>
        <li class="news__item">
          <a href="">
            <img
              src="./images/one-news/another-news__image3.jpg"
              alt="another news image"
              class="news__item-image"
            />
            <div class="news__item-content">
              <p class="description-l">
                Команда Національного ЧСЧ-консорціуму вітає українців з Днем
                Єднання!
              </p>
              <div class="news__item-wrapper">
                <p class="subtitle-s">mar 24,2022</p>
                <svg
                  class="news__item-icon"
                  viewBox="0 0 50 36"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M36.118 36c.45-9.065 5.849-14.465 13.882-15.172v-5.014C41.967 15.106 36.568 9.77 36.118.706l-5.977 1.286c.322 3.278 1.479 6.171 3.407 8.807 1.992 2.572 4.241 4.243 6.812 5.015H0v5.014h40.36c-2.57.771-4.82 2.443-6.812 5.079-1.929 2.636-3.085 5.529-3.407 8.743L36.118 36Z"
                  />
                </svg>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <a href="" class="another-news__button button white">усі новини</a>
    </div>
  </section>
</main>
{% endblock %}
