.footer-container{
  background-color: #202124;
}
.footer{

  color: white;
  font-family: 'e-Ukraine-Medium';

  &__mailing{
    padding: 55px 20px;
    border-bottom: 2px solid #F5EDE3;

  }
  &__title{
    font-family: 'e-Ukraine-Medium';
    font-size: 44px;
    line-height: 53px;
    padding-right: 48px;
  span{
    display: inline-block;
    overflow: hidden;
    width: 105px;
    height: 46px;

  }

  }
  &__text{
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;
    padding-right: 48px;
  }

  &__input{
    background-color: transparent;
    width: 100%;
    margin-top: 20px;
    border: none;
    span{
      display: none;
      width: 100%;
      z-index: 10;
      height: 16px;
      font-family: 'e-Ukraine-Regular';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #ED764A;
      padding-top: 5px;
    }
    input{
      color: white;
      outline: none;
      padding: 10px 0;
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      border-bottom: 2px solid #F5EDE3;
    }
    &.false_input{
      margin-bottom: 14px;
    input{
      border-bottom: 2px solid #ED764A;
    }
    }
    &.false_input span{
      display: block;
    }

  }
  &__button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 30px;
    background-color: #F5EDE3;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;

    div{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      text-transform: uppercase;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      z-index: 1;
      background-color: #F29100;
      content: '';
      width: 1%;
      height: 0;
      padding-bottom: 1%;
      border-radius: 50%;
    }
    &:hover::before {
      visibility: visible;
      width: 100%;
      padding-bottom: 100%;
      transition: all 0.5s ease 0s;
    }
    &:hover {
      div {
        z-index: 3;
        color: #F5EDE3;
      }
    }
  }
  &__info{
    display: flex;
    justify-content: space-between;
  }
  &__logo-container{
    flex: 1 1 auto;
    padding: 30px 20px;
  }
  &__logo{

    width: 127px;
  }
  &__nav{
    width: 50%;
    padding: 0 20px 30px 3px;
  }
  &__link{
    font-family: 'e-Ukraine-Regular';
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    &_block{
      margin: 30px 0 15px;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.05em;
      color: #F5EDE3;
      opacity: 0.55;
    }
    &_article{
      color: #F5EDE3;
      margin-bottom: 10px;
      font-family: 'e-Ukraine-Regular';
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }

  }
  &__media-links{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__media-link{
    background-color: #F5EDE3;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: auto;
      height: auto;
    }
  }
}
.copywrite{
  height: 55px;
  padding-top: 9px;
  div {
    font-family: 'e-Ukraine-Regular';
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
