.news{
  padding: 55px 20px;
  &__block:hover{
    .news__description{
      text-decoration: underline;
    }
    .news__pointer_active{

      }
    .news__pointer{

        use{
          fill: #F29100;
        }

    }
  }

  &__title{
    font-family: 'e-Ukraine-Medium';
    font-weight: 500;
    font-size: 28px;
    line-height: 31px ;
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  &__block{
    padding: 15px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  &__image{
    width: 280px;
    max-width: 300px;
    height: 170px;
    margin: auto;
    border-radius: 10px;
  }
  &__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__description{
    flex: 1 1 auto;
    font-family: 'e-Ukraine-Medium';
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  &__footer{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__date{
    font-family: 'e-Ukraine-Light';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    opacity: 0.55; flex: 1 1 auto;
  }
  &__link{


  }
  &__pointer{
    width: 30px;
    height: 21px;


  }


  &__button{
    margin-top: 30px;
    font-family: 'e-Ukraine-Medium';
    border-radius: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
    padding: 10px;

  }
}
