.projects{

  padding: 55px 20px 69px;
  &-pointer{
    height: 24px;
    width: 35px;
  }
  &__blocktitle{
    font-family: 'e-Ukraine-Medium';
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 28px;
    line-height: 31px;
    text-transform: uppercase;
  }
  &__project{
    margin-bottom: 20px;
    width: 100%;
    height: 350px;
    border-radius: 15px;
    padding: 0 14px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 150%;
    &:hover {
      .projects__title{
        text-decoration: underline;
      }
      .projects-pointer {
        use {
          fill: #F29100;
        }
      }
    }

    &_patriot{
      background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("../../../../static/images/projects/patriot.png") no-repeat;
      background-size: cover;
      background-position: center;
    }
    &_reg{
      background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("../../../../static/images/projects/registred.png") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &__link{
    display: none;
  }
  &__title{
    font-family: 'e-Ukraine-Medium';
    color: #F5EDE3;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }
  &__describtion{
    font-family: 'e-Ukraine-Medium';
    color: #F5EDE3;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }
  &__button{
    font-family: 'e-Ukraine-Medium';
    padding: 10px;
    margin: 10px 0;
    border-radius: 30px;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }
}
.projects-pointer {
  use {
    fill: #F5EDE3;
  }
}
