
.whatwedo-container{
  background-color: #5383EC;
}
.whatwedo{
  padding: 55px 20px;


  &__blocktitle{
  padding-bottom:  50px;
    border-bottom: 2px solid black;
  }
  &__item{
    border-bottom: 2px solid black;
  }
  &__name{
    text-transform: uppercase;
    color: black;
    opacity: 0.4;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-family: 'e-Ukraine-Medium';
    line-height: 13px;
  }
  &__title{
    font-family: 'e-Ukraine-Medium';
    margin-top: 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 31px;
    text-transform: uppercase;
  }
  &__description{
    font-family: 'e-Ukraine-Medium';
    margin-top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px ;
    text-transform: uppercase;
  }
  &__button{
    font-family: 'e-Ukraine-Medium';
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-flex;
  }
  &__item{
    padding: 15px 0 20px;
    &:hover{
      .whatwedo-pointer{
        use{
          fill: #F29100;
        }
      }
    }
  }
  &__number{
    font-family: 'e-Ukraine-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    text-transform: uppercase;
  }
  &__title{
    margin-top: 7px;
    display: flex;
    align-items: center;
    &-text{
      font-family: 'e-Ukraine-Medium';
      flex: 1 1 auto;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      text-transform: uppercase;
    }
    &-link{
      flex: 0 0 24px;

    }
  }
  &-pointer{
    height: 24px;
    width: 35px;
  }
  &__item-description{
    font-family: 'e-Ukraine-Regular';
    margin-top: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

  }
}

