.whatwedo{
  padding-right: 40px;
  padding-left: 40px;
  &__item{
    display: flex;
  }
  &__content{
    flex: 1 1 65%;
  }
  &__number{
    flex-basis: 35%;
    font-size: 82px;
    line-height: 98px;
  }
  &__title{
    font-size: 45px;
    line-height: 54px;
  }
  &__description{
    font-size: 20px;
    line-height: 24px ;
  }
  &__title{
    &-text{
      font-size: 32px;
      line-height: 38px;
    }
  }
  &__item-description{
    font-size: 14px;
    line-height: 17px;

  }

}
