body{

}
.aboutus{

  overflow: hidden;
  &__image{
    height: 550px;
    img{
      object-fit: cover;
      object-position: center;
    }
  }
  &__border{
    &-text{
      min-width: 145px;
      font-family: 'e-Ukraine-Medium';
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      text-transform: uppercase;
      color: #F5EDE3;
      &.display-none-320{
        display: block;
      }
    }
    &-hash{
      width: 45px;
      height: 45px;
      &.display-none-320{
        display: block;
      }
    }

  }
  &__content-container {
    padding: 80px 20px 100px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__content{
    flex: 0 0 60%;
    &-name{
      font-family: 'e-Ukraine-Medium';
      font-weight: 500;
      font-size: 12px;
      line-height: 110%;
      text-transform: uppercase;
    }
    &-title{
      font-family: 'e-Ukraine-Medium';
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
    }
    &-description{
      font-family: 'e-Ukraine-Light';
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
  }
  &__hash{
    width: 113px;
    position: absolute;
    top: 80px;
    left: 60px;
    bottom: initial;
    right: initial;
    div{
      display: inline-block;
      padding: 10px 15px;
      background: #EBC168;
      border-radius: 100px;
      transform: rotate(-7.81deg);
      font-family: 'Inter-ExtraBold';
      text-transform: uppercase;
      font-weight: 900;
      font-size: 13px;
      font-style: italic;
      color: #202124;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__content-title{
    font-family: 'e-Ukraine-Medium';
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 0 15px;
    text-transform: uppercase;
  }
  &__content-description{
    font-family: 'e-Ukraine-Light';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}
